@import "_variable";

/* 汎用 */
.side_wrapper{
    padding-left: $side_wrapper_padding;
    padding-right: $side_wrapper_padding;
}

/* ボタン*/

.btn{
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 8px; 
    padding: 14px 0;
    font-size: common-text(m);
    justify-content: center;
    font-family: -apple-system, "BlinkMacSystemFont", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Century Gothic", Helvetica, Arial, "Droid Sans", Sans-Serif;
    border: none;
    @include hover {
        cursor: pointer;
    }   
}

.btn_yellow{
    @extend .btn;
    background: $mx_orange;
    color: #000;
    border: none;    
    justify-content: center;
    @include hover {
        cursor: pointer;
    }  
}


.common_yellow_link{
    @extend .btn;
    justify-content: center;    
    
    a{
        @extend .btn;
        background: $mx_orange;
        color: #000;
        display: block;
        width: 100%;
        font-weight: bold;
    }    
}

.common_yellow_button{
    @extend .btn;
	background: $mx_orange;        
    width: 100%;
    font-weight: 700;
    @include hover {
        cursor: pointer;
    }  
}

.common_white_button{
    @extend .btn;
    padding: 13px 0;
    background: #fff;    
    border-width: 1px;
    border-style: solid;
    border-color: #848484;
    @include hover {
        cursor: pointer;
    }  
}

.common_white_link{
    @extend .btn;
    justify-content: center;    
    
    a{
        @extend .btn;
        background: #fff;
        color: #000;
        display: block;
        width: 100%;
        font-weight: bold;
        border-width: 1px;
        border-style: solid;
        border-color: #ccc;        
    }    
}

/* 注釈 */

.cap{
    font-size: 12px !important;

    a{
        text-decoration: underline;
    }
}


/* ####  マージン　パディング  #####*/
@for $i from 0 through 9 {
	.mt_#{$i}0 {
  		margin-top: 10px * $i  !important;
  	}
	.mb_#{$i}0 {
  		margin-bottom: 10px * $i !important;
  	}
	.pt_#{$i}0 {
  		padding-top: 10px * $i !important;
  	}
	.pb_#{$i}0 {
  		padding-bottom: 10px * $i !important;
  	}
}

/* form */
